DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_DATABASE=chirpy
DB_PASSWORD=postgres

DB_URL="postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?sslmode=disable"
PLATFORM=dev

# psql
export PGHOST=$DB_HOST
export PGPORT=$DB_PORT
export PGUSER=$DB_USER
export PGDATABASE=$DB_DATABASE
export PGPASSWORD=$DB_PASSWORD

# goose
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}
export GOOSE_MIGRATION_DIR=./sql/schema
